body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #e42222;
    background-image: url('../Imagini/MicroBit_Background_Texture.jpg');
    background-repeat: repeat;
    background-size: auto;
}


#Navigation_Bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff0505;
    z-index: 2000;
    padding: 1rem 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}

.button-link {
    background-color: #ffe600; 
    border: 3px solid #d62020;
    border-radius: 12px;
    padding: 12px 25px;
    color: #2c3e50;
    font-size: 1.1rem;
    box-shadow: 0 4px 0 #d4af37;
    text-decoration: none;
}

.button-link:hover {
    background-color: #ca8216;
    transform: translateY(2px);
    box-shadow: 0 2px 0 #d4af37;
}

button:hover{
    background-color: #ca8216;
    transform: translateY(2px);
    box-shadow: 0 2px 0 #d4af37;
}


.blueprint-header {
    text-align: center;
    margin:20px;
    padding: 140px 20px 60px;
    background: #df0a0a;
    border: 2px dashed #ffc300;;
    
}

.header-line {
    width: 50px;
    height: 5px;
    background-color: #ffc300;
    margin: 0 auto 15px;
}

#Intrebari{
    background-color: #df0a0a;
    border: 2px dashed #ffc300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Text{
    display: flex;
    justify-content: center;
    align-items: center;
}


.tag {
    position: absolute;
    top: -18px;
    left: 20px;
    background: #2d3436;
    color: white;
    padding: 4px 12px;
    font-size: 0.75rem;
    letter-spacing: 1px;
}

.question {
    background: #f50000;
}

h1{
    color: #ffc300;
}


p {
    color: #ffc300;
    line-height: 1.6;
    font-size: 1rem;
}

@media (max-width: 600px) {
  .stagger-wrapper {
    display: block !important;
  }
  
  .edu-card {
    width: 100% !important;
    max-width: 100% !important;
    margin: 10px 0 !important;
    transform: none !important;
  }

  .left-pos, .center-pos, .right-pos {
    margin-top: 0 !important;
  }
}