
body {
    background-color: #9966FF;
    color: #6505a5;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

#Navigation_Bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #353c49;
    z-index: 2000;
    padding: 1rem 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.button-link {
    background-color: #930cee;
    color: white;
    border: 2px solid #2D2D2D;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
}

.button-link:hover {
    background-color: #6e01b6;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.Panou {
    max-width: 850px;
    margin: 40px auto;
    background:#300246;
    border: 8px solid #2D2D2D;
    border-radius: 4px;
    position: relative;
    padding: 40px;
}


header {
    text-align: center;
    border-bottom: 2px solid #D400D4;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

h1 {
    color: #930cee;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.content-section {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin-bottom: 20px;
}

.content-section a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

h2 {
    color: #D400D4;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-left: 4px  #64748b;
    padding-left: 10px;
}


.li{
    padding: 8px 0;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    display: flex;
    justify-content: space-between;
}

#button-centru{
    background-color: #f59e0b;
    color: #475569;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.1rem;
    transition: 0.3s;
}

#button-centru:hover{
    background-color: #af7105;
    color: #475569;
    transform: scale(1.05);
}


.Component-label { color:#64748b; }







@media (max-width: 600px) {
  .content-section {
    display: block !important;
  }
  
  .edu-card {
    width: 100% !important;
    max-width: 100% !important;
    margin: 10px 0 !important;
    transform: none !important;
  }

}
